/// for bit framework , buscar variables para margenes, estudiar childs, fallback no-flexbox, al final es vertical rhrytym
.bit-wrapper {
    padding: 0;
    width: max-content;
}
.bit-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: $size2+rem;
    height: auto;
    width: 100%;
    flex-direction: column;
    // &:last-child {
    //     margin-bottom: $size1;
    // }

    .center {
        justify-content: center;
    }

    .around {
        justify-content: space-around;

    }

    .v-center{
        align-items:center;
    }
}


// 100% = 1300px
// x = 16px
.bit-column {
    margin-bottom: $size1+rem;
}
.bit-column-1-2 {
    width: 50% (-$gut);
}
.bit-column-1-3 {
    width: 33.3% (-$gut);
}
.bit-column-2-3 {
    width: 66.9% (-$gut);
}
.bit-column-1-4 {
    width: 25% (-$gut);
}
.bit-column-3-4 {
    width: 75% (-$gut);
}
.bit-column-1-5 {
    width: 20% (-$gut);
}
.bit-column-1-6 {
    width: 16.66% (-$gut);
}
.bit-column-full {
    width: 100%;
    flex: 1 100%;
}
@media only screen and (max-width: 800px) {
    .bit-full-at-800 {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {
    .bit-1-2-at-800 {
        width: 50% (-$gut);
    }
}
@media only screen and (max-width: 550px) {
    .bit-full-at-550 {
        width: 100%;
    }
}