
// Colors

$primary: white;
$secondary: #44C8A9;
$success: #3adb76;
$warning: #ffae00;
$alert: #cc4b37;
$soft-gray:lighten(#333, 79%);
$lighter-gray: lighten(#333, 75%);
$light-gray: lighten(#333, 55%);
$medium-gray:lighten(#333, 35%);
$dark-gray:lighten(#333, 15%);
$gray:lighten(#333, 10%);
$black: #333;
$white: #fefefe;
$whatsapp:#25d367;
$text-color:$white;


///SIZES / for vertical rythim and grid

$width:1300; // 100%
$interval: 1.618; //golden
$unit: rem;

$size0: 1;
            
$size-1:  calc($size0 / $interval); 
$size-2:  calc($size-1 / $interval);  
$size1:   $size0 * $interval; 
$size2:   $size1 * $interval;
$size3:   $size2 * $interval;
$size4:   $size3 * $interval;   



$gut:(calc(($size2 * 1000) / $width)) + 0%; 












