/*!
 * Theme Name: RossyWP
 * Theme URI: http://elbit.cat
 * Description: Jorge Rossy Theme
 * Version: 0.1
 * Author: elbit.cat
 * Author URI: http://elbit.cat
 * Tags: Blank, HTML5, CSS3
 */ /*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Raleway:300,300i,400,400i,700,700i");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

.wp-caption {
  background: white;
  border: thin solid #f0f0f0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1rem;
  line-height: 1.5;
}

figure {
  margin-left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.776889;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.333rem;
  font-weight: 300;
  font-family: "Alfa Slab One", cursive;
  letter-spacing: 1px;
}

h1 {
  font-size: 4.2087269129rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.1573345183rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.368593037rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.776889rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (min-width: 550px) {
  h1 {
    font-size: 4.2087269129rem;
  }
  h2 {
    font-size: 3.1573345183rem;
  }
  h3 {
    font-size: 2.368593037rem;
  }
  h4 {
    font-size: 1.776889rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  opacity: 0.8;
}

.button,
button,
input[type=submit],
input[type=reset],
input[type=button] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #333;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #333;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
.button:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
  color: #333;
  border-color: #333;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type=submit].button-primary,
input[type=reset].button-primary,
input[type=button].button-primary {
  color: #fefefe;
  background-color: #333;
  border-color: #333;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:hover,
input[type=button].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type=submit].button-primary:focus,
input[type=reset].button-primary:focus,
input[type=button].button-primary:focus {
  color: #fefefe;
  background-color: #333;
  border-color: #333;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fefefe;
  border: 1px solid #333;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type=email]:focus,
input[type=number]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  border: 1px solid #333;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type=checkbox],
input[type=radio] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #333;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

button,
.button {
  margin-bottom: 1.333rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.333rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1.776889rem;
}

img {
  max-width: 100%;
  height: auto;
}

.bit-wrapper {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  
}

@media only screen and (max-width: 1200px) {
  .bit-wrapper {
    padding: 0 2.333rem;
    width: fit-content;
  }
}
.bit-copy-wrapper {
  max-width: 800px;
}

.is-main {
  min-height: 85vh;
}

.bit-section {
  margin: 3.1573345183rem 0;
}

.bit-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.776889rem;
  height: auto;
  width: 100%;
  
}
@media only screen and (max-width: 800px) {
  .bit-row {
    flex-direction: row;
    justify-content: center;
  }
}

.are-same-heigth {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.are-same-heigth.and-v-center > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.bit-column {
  margin-bottom: 1.333rem;
}

.bit-column-1-2 {
  width: 48.5192591667%;
}

.bit-column-1-3 {
  width: 31.8192591667%;
}

.bit-column-2-3 {
  width: 65.4192591667%;
}

.bit-column-1-4 {
  width: 23.5192591667%;
}

.bit-column-3-4 {
  width: 73.5192591667%;
}

.bit-column-1-5 {
  width: 18.5192591667%;
}

.bit-column-1-6 {
  width: 15.1792591667%;
}

.bit-column-full {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

@media only screen and (max-width: 800px) {
  .bit-full-at-800 {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .bit-1-2-at-800 {
    width: 48.5192591667%;
  }
}
@media only screen and (max-width: 550px) {
  .bit-full-at-550 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .bit-full-at-600 {
    width: 100%;
  }
}
.t-v-center {
  vertical-align: middle;
}

.t-center {
  text-align: center;
}

.ul-none ul {
  list-style: none;
}

.hover-up {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hover-up:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.f-size-4 {
  font-size: 3.1573345183rem;
}

.bit-text-primary {
  color: #333;
}

.bit-text-negative {
  color: #fff;
}

.bit-m-t-1 {
  margin-top: 1.333rem;
}

.bit-p-t-1 {
  padding-top: 1.333rem;
}

.bit-m-b-1 {
  margin-bottom: 1.333rem;
}

.bit-p-b-1 {
  padding-bottom: 1.333rem;
}

.bit-m-l-1 {
  margin-left: 1.333rem;
}

.bit-p-l-1 {
  padding-left: 1.333rem;
}

.bit-m-r-1 {
  margin-right: 1.333rem;
}

.bit-p-r-1 {
  padding-right: 1.333rem;
}

.bit-m-t-2 {
  margin-top: 1.776889rem;
}

.bit-p-t-2 {
  padding-top: 1.776889rem;
}

.bit-m-b-2 {
  margin-bottom: 1.776889rem;
}

.bit-p-b-2 {
  padding-bottom: 1.776889rem;
}

.bit-m-l-2 {
  margin-left: 1.776889rem;
}

.bit-p-l-2 {
  padding-left: 1.776889rem;
}

.bit-m-r-2 {
  margin-right: 1.776889rem;
}

.bit-p-r-2 {
  padding-right: 1.776889rem;
}

.bit-m-t-3 {
  margin-top: 2.368593037rem;
}

.bit-p-t-3 {
  padding-top: 2.368593037rem;
}

.bit-m-b-3 {
  margin-bottom: 2.368593037rem;
}

.bit-p-b-3 {
  padding-bottom: 2.368593037rem;
}

.bit-m-l-3 {
  margin-left: 2.368593037rem;
}

.bit-p-l-3 {
  padding-left: 2.368593037rem;
}

.bit-m-r-3 {
  margin-right: 2.368593037rem;
}

.bit-p-r-3 {
  padding-right: 2.368593037rem;
}

.bit-m-t-4 {
  margin-top: 3.1573345183rem;
}

.bit-p-t-4 {
  padding-top: 3.1573345183rem;
}

.bit-m-b-4 {
  margin-bottom: 3.1573345183rem;
}

.bit-p-b-4 {
  padding-bottom: 3.1573345183rem;
}

.bit-m-l-4 {
  margin-left: 3.1573345183rem;
}

.bit-p-l-4 {
  padding-left: 3.1573345183rem;
}

.bit-m-r-4 {
  margin-right: 3.1573345183rem;
}

.bit-p-r-4 {
  padding-right: 3.1573345183rem;
}

@font-face {
  font-family: "typicons";
  src: url("fonts/typicons/src/font/typicons.eot");
  src: url("fonts/typicons/src/font/typicons.eot?#iefix") format("embedded-opentype"), url("fonts/typicons/src/font/typicons.woff") format("woff"), url("fonts/typicons/src/font/typicons.ttf") format("truetype"), url("fonts/typicons/src/font/typicons.svg#typicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.typcn:before {
  font-family: "typicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.typcn-big {
  font-size: 1.776889rem;
}

.typcn-adjust-brightness:before {
  content: "\e000";
}

.typcn-adjust-contrast:before {
  content: "\e001";
}

.typcn-anchor-outline:before {
  content: "\e002";
}

.typcn-anchor:before {
  content: "\e003";
}

.typcn-archive:before {
  content: "\e004";
}

.typcn-arrow-back-outline:before {
  content: "\e005";
}

.typcn-arrow-back:before {
  content: "\e006";
}

.typcn-arrow-down-outline:before {
  content: "\e007";
}

.typcn-arrow-down-thick:before {
  content: "\e008";
}

.typcn-arrow-down:before {
  content: "\e009";
}

.typcn-arrow-forward-outline:before {
  content: "\e00a";
}

.typcn-arrow-forward:before {
  content: "\e00b";
}

.typcn-arrow-left-outline:before {
  content: "\e00c";
}

.typcn-arrow-left-thick:before {
  content: "\e00d";
}

.typcn-arrow-left:before {
  content: "\e00e";
}

.typcn-arrow-loop-outline:before {
  content: "\e00f";
}

.typcn-arrow-loop:before {
  content: "\e010";
}

.typcn-arrow-maximise-outline:before {
  content: "\e011";
}

.typcn-arrow-maximise:before {
  content: "\e012";
}

.typcn-arrow-minimise-outline:before {
  content: "\e013";
}

.typcn-arrow-minimise:before {
  content: "\e014";
}

.typcn-arrow-move-outline:before {
  content: "\e015";
}

.typcn-arrow-move:before {
  content: "\e016";
}

.typcn-arrow-repeat-outline:before {
  content: "\e017";
}

.typcn-arrow-repeat:before {
  content: "\e018";
}

.typcn-arrow-right-outline:before {
  content: "\e019";
}

.typcn-arrow-right-thick:before {
  content: "\e01a";
}

.typcn-arrow-right:before {
  content: "\e01b";
}

.typcn-arrow-shuffle:before {
  content: "\e01c";
}

.typcn-arrow-sorted-down:before {
  content: "\e01d";
}

.typcn-arrow-sorted-up:before {
  content: "\e01e";
}

.typcn-arrow-sync-outline:before {
  content: "\e01f";
}

.typcn-arrow-sync:before {
  content: "\e020";
}

.typcn-arrow-unsorted:before {
  content: "\e021";
}

.typcn-arrow-up-outline:before {
  content: "\e022";
}

.typcn-arrow-up-thick:before {
  content: "\e023";
}

.typcn-arrow-up:before {
  content: "\e024";
}

.typcn-at:before {
  content: "\e025";
}

.typcn-attachment-outline:before {
  content: "\e026";
}

.typcn-attachment:before {
  content: "\e027";
}

.typcn-backspace-outline:before {
  content: "\e028";
}

.typcn-backspace:before {
  content: "\e029";
}

.typcn-battery-charge:before {
  content: "\e02a";
}

.typcn-battery-full:before {
  content: "\e02b";
}

.typcn-battery-high:before {
  content: "\e02c";
}

.typcn-battery-low:before {
  content: "\e02d";
}

.typcn-battery-mid:before {
  content: "\e02e";
}

.typcn-beaker:before {
  content: "\e02f";
}

.typcn-beer:before {
  content: "\e030";
}

.typcn-bell:before {
  content: "\e031";
}

.typcn-book:before {
  content: "\e032";
}

.typcn-bookmark:before {
  content: "\e033";
}

.typcn-briefcase:before {
  content: "\e034";
}

.typcn-brush:before {
  content: "\e035";
}

.typcn-business-card:before {
  content: "\e036";
}

.typcn-calculator:before {
  content: "\e037";
}

.typcn-calendar-outline:before {
  content: "\e038";
}

.typcn-calendar:before {
  content: "\e039";
}

.typcn-camera-outline:before {
  content: "\e03a";
}

.typcn-camera:before {
  content: "\e03b";
}

.typcn-cancel-outline:before {
  content: "\e03c";
}

.typcn-cancel:before {
  content: "\e03d";
}

.typcn-chart-area-outline:before {
  content: "\e03e";
}

.typcn-chart-area:before {
  content: "\e03f";
}

.typcn-chart-bar-outline:before {
  content: "\e040";
}

.typcn-chart-bar:before {
  content: "\e041";
}

.typcn-chart-line-outline:before {
  content: "\e042";
}

.typcn-chart-line:before {
  content: "\e043";
}

.typcn-chart-pie-outline:before {
  content: "\e044";
}

.typcn-chart-pie:before {
  content: "\e045";
}

.typcn-chevron-left-outline:before {
  content: "\e046";
}

.typcn-chevron-left:before {
  content: "\e047";
}

.typcn-chevron-right-outline:before {
  content: "\e048";
}

.typcn-chevron-right:before {
  content: "\e049";
}

.typcn-clipboard:before {
  content: "\e04a";
}

.typcn-cloud-storage:before {
  content: "\e04b";
}

.typcn-cloud-storage-outline:before {
  content: "\e054";
}

.typcn-code-outline:before {
  content: "\e04c";
}

.typcn-code:before {
  content: "\e04d";
}

.typcn-coffee:before {
  content: "\e04e";
}

.typcn-cog-outline:before {
  content: "\e04f";
}

.typcn-cog:before {
  content: "\e050";
}

.typcn-compass:before {
  content: "\e051";
}

.typcn-contacts:before {
  content: "\e052";
}

.typcn-credit-card:before {
  content: "\e053";
}

.typcn-css3:before {
  content: "\e055";
}

.typcn-database:before {
  content: "\e056";
}

.typcn-delete-outline:before {
  content: "\e057";
}

.typcn-delete:before {
  content: "\e058";
}

.typcn-device-desktop:before {
  content: "\e059";
}

.typcn-device-laptop:before {
  content: "\e05a";
}

.typcn-device-phone:before {
  content: "\e05b";
}

.typcn-device-tablet:before {
  content: "\e05c";
}

.typcn-directions:before {
  content: "\e05d";
}

.typcn-divide-outline:before {
  content: "\e05e";
}

.typcn-divide:before {
  content: "\e05f";
}

.typcn-document-add:before {
  content: "\e060";
}

.typcn-document-delete:before {
  content: "\e061";
}

.typcn-document-text:before {
  content: "\e062";
}

.typcn-document:before {
  content: "\e063";
}

.typcn-download-outline:before {
  content: "\e064";
}

.typcn-download:before {
  content: "\e065";
}

.typcn-dropbox:before {
  content: "\e066";
}

.typcn-edit:before {
  content: "\e067";
}

.typcn-eject-outline:before {
  content: "\e068";
}

.typcn-eject:before {
  content: "\e069";
}

.typcn-equals-outline:before {
  content: "\e06a";
}

.typcn-equals:before {
  content: "\e06b";
}

.typcn-export-outline:before {
  content: "\e06c";
}

.typcn-export:before {
  content: "\e06d";
}

.typcn-eye-outline:before {
  content: "\e06e";
}

.typcn-eye:before {
  content: "\e06f";
}

.typcn-feather:before {
  content: "\e070";
}

.typcn-film:before {
  content: "\e071";
}

.typcn-filter:before {
  content: "\e072";
}

.typcn-flag-outline:before {
  content: "\e073";
}

.typcn-flag:before {
  content: "\e074";
}

.typcn-flash-outline:before {
  content: "\e075";
}

.typcn-flash:before {
  content: "\e076";
}

.typcn-flow-children:before {
  content: "\e077";
}

.typcn-flow-merge:before {
  content: "\e078";
}

.typcn-flow-parallel:before {
  content: "\e079";
}

.typcn-flow-switch:before {
  content: "\e07a";
}

.typcn-folder-add:before {
  content: "\e07b";
}

.typcn-folder-delete:before {
  content: "\e07c";
}

.typcn-folder-open:before {
  content: "\e07d";
}

.typcn-folder:before {
  content: "\e07e";
}

.typcn-gift:before {
  content: "\e07f";
}

.typcn-globe-outline:before {
  content: "\e080";
}

.typcn-globe:before {
  content: "\e081";
}

.typcn-group-outline:before {
  content: "\e082";
}

.typcn-group:before {
  content: "\e083";
}

.typcn-headphones:before {
  content: "\e084";
}

.typcn-heart-full-outline:before {
  content: "\e085";
}

.typcn-heart-half-outline:before {
  content: "\e086";
}

.typcn-heart-outline:before {
  content: "\e087";
}

.typcn-heart:before {
  content: "\e088";
}

.typcn-home-outline:before {
  content: "\e089";
}

.typcn-home:before {
  content: "\e08a";
}

.typcn-html5:before {
  content: "\e08b";
}

.typcn-image-outline:before {
  content: "\e08c";
}

.typcn-image:before {
  content: "\e08d";
}

.typcn-infinity-outline:before {
  content: "\e08e";
}

.typcn-infinity:before {
  content: "\e08f";
}

.typcn-info-large-outline:before {
  content: "\e090";
}

.typcn-info-large:before {
  content: "\e091";
}

.typcn-info-outline:before {
  content: "\e092";
}

.typcn-info:before {
  content: "\e093";
}

.typcn-input-checked-outline:before {
  content: "\e094";
}

.typcn-input-checked:before {
  content: "\e095";
}

.typcn-key-outline:before {
  content: "\e096";
}

.typcn-key:before {
  content: "\e097";
}

.typcn-keyboard:before {
  content: "\e098";
}

.typcn-leaf:before {
  content: "\e099";
}

.typcn-lightbulb:before {
  content: "\e09a";
}

.typcn-link-outline:before {
  content: "\e09b";
}

.typcn-link:before {
  content: "\e09c";
}

.typcn-location-arrow-outline:before {
  content: "\e09d";
}

.typcn-location-arrow:before {
  content: "\e09e";
}

.typcn-location-outline:before {
  content: "\e09f";
}

.typcn-location:before {
  content: "\e0a0";
}

.typcn-lock-closed-outline:before {
  content: "\e0a1";
}

.typcn-lock-closed:before {
  content: "\e0a2";
}

.typcn-lock-open-outline:before {
  content: "\e0a3";
}

.typcn-lock-open:before {
  content: "\e0a4";
}

.typcn-mail:before {
  content: "\e0a5";
}

.typcn-map:before {
  content: "\e0a6";
}

.typcn-media-eject-outline:before {
  content: "\e0a7";
}

.typcn-media-eject:before {
  content: "\e0a8";
}

.typcn-media-fast-forward-outline:before {
  content: "\e0a9";
}

.typcn-media-fast-forward:before {
  content: "\e0aa";
}

.typcn-media-pause-outline:before {
  content: "\e0ab";
}

.typcn-media-pause:before {
  content: "\e0ac";
}

.typcn-media-play-outline:before {
  content: "\e0ad";
}

.typcn-media-play-reverse-outline:before {
  content: "\e0ae";
}

.typcn-media-play-reverse:before {
  content: "\e0af";
}

.typcn-media-play:before {
  content: "\e0b0";
}

.typcn-media-record-outline:before {
  content: "\e0b1";
}

.typcn-media-record:before {
  content: "\e0b2";
}

.typcn-media-rewind-outline:before {
  content: "\e0b3";
}

.typcn-media-rewind:before {
  content: "\e0b4";
}

.typcn-media-stop-outline:before {
  content: "\e0b5";
}

.typcn-media-stop:before {
  content: "\e0b6";
}

.typcn-message-typing:before {
  content: "\e0b7";
}

.typcn-message:before {
  content: "\e0b8";
}

.typcn-messages:before {
  content: "\e0b9";
}

.typcn-microphone-outline:before {
  content: "\e0ba";
}

.typcn-microphone:before {
  content: "\e0bb";
}

.typcn-minus-outline:before {
  content: "\e0bc";
}

.typcn-minus:before {
  content: "\e0bd";
}

.typcn-mortar-board:before {
  content: "\e0be";
}

.typcn-news:before {
  content: "\e0bf";
}

.typcn-notes-outline:before {
  content: "\e0c0";
}

.typcn-notes:before {
  content: "\e0c1";
}

.typcn-pen:before {
  content: "\e0c2";
}

.typcn-pencil:before {
  content: "\e0c3";
}

.typcn-phone-outline:before {
  content: "\e0c4";
}

.typcn-phone:before {
  content: "\e0c5";
}

.typcn-pi-outline:before {
  content: "\e0c6";
}

.typcn-pi:before {
  content: "\e0c7";
}

.typcn-pin-outline:before {
  content: "\e0c8";
}

.typcn-pin:before {
  content: "\e0c9";
}

.typcn-pipette:before {
  content: "\e0ca";
}

.typcn-plane-outline:before {
  content: "\e0cb";
}

.typcn-plane:before {
  content: "\e0cc";
}

.typcn-plug:before {
  content: "\e0cd";
}

.typcn-plus-outline:before {
  content: "\e0ce";
}

.typcn-plus:before {
  content: "\e0cf";
}

.typcn-point-of-interest-outline:before {
  content: "\e0d0";
}

.typcn-point-of-interest:before {
  content: "\e0d1";
}

.typcn-power-outline:before {
  content: "\e0d2";
}

.typcn-power:before {
  content: "\e0d3";
}

.typcn-printer:before {
  content: "\e0d4";
}

.typcn-puzzle-outline:before {
  content: "\e0d5";
}

.typcn-puzzle:before {
  content: "\e0d6";
}

.typcn-radar-outline:before {
  content: "\e0d7";
}

.typcn-radar:before {
  content: "\e0d8";
}

.typcn-refresh-outline:before {
  content: "\e0d9";
}

.typcn-refresh:before {
  content: "\e0da";
}

.typcn-rss-outline:before {
  content: "\e0db";
}

.typcn-rss:before {
  content: "\e0dc";
}

.typcn-scissors-outline:before {
  content: "\e0dd";
}

.typcn-scissors:before {
  content: "\e0de";
}

.typcn-shopping-bag:before {
  content: "\e0df";
}

.typcn-shopping-cart:before {
  content: "\e0e0";
}

.typcn-social-at-circular:before {
  content: "\e0e1";
}

.typcn-social-dribbble-circular:before {
  content: "\e0e2";
}

.typcn-social-dribbble:before {
  content: "\e0e3";
}

.typcn-social-facebook-circular:before {
  content: "\e0e4";
}

.typcn-social-facebook:before {
  content: "\e0e5";
}

.typcn-social-flickr-circular:before {
  content: "\e0e6";
}

.typcn-social-flickr:before {
  content: "\e0e7";
}

.typcn-social-github-circular:before {
  content: "\e0e8";
}

.typcn-social-github:before {
  content: "\e0e9";
}

.typcn-social-google-plus-circular:before {
  content: "\e0ea";
}

.typcn-social-google-plus:before {
  content: "\e0eb";
}

.typcn-social-instagram-circular:before {
  content: "\e0ec";
}

.typcn-social-instagram:before {
  content: "\e0ed";
}

.typcn-social-last-fm-circular:before {
  content: "\e0ee";
}

.typcn-social-last-fm:before {
  content: "\e0ef";
}

.typcn-social-linkedin-circular:before {
  content: "\e0f0";
}

.typcn-social-linkedin:before {
  content: "\e0f1";
}

.typcn-social-pinterest-circular:before {
  content: "\e0f2";
}

.typcn-social-pinterest:before {
  content: "\e0f3";
}

.typcn-social-skype-outline:before {
  content: "\e0f4";
}

.typcn-social-skype:before {
  content: "\e0f5";
}

.typcn-social-tumbler-circular:before {
  content: "\e0f6";
}

.typcn-social-tumbler:before {
  content: "\e0f7";
}

.typcn-social-twitter-circular:before {
  content: "\e0f8";
}

.typcn-social-twitter:before {
  content: "\e0f9";
}

.typcn-social-vimeo-circular:before {
  content: "\e0fa";
}

.typcn-social-vimeo:before {
  content: "\e0fb";
}

.typcn-social-youtube-circular:before {
  content: "\e0fc";
}

.typcn-social-youtube:before {
  content: "\e0fd";
}

.typcn-sort-alphabetically-outline:before {
  content: "\e0fe";
}

.typcn-sort-alphabetically:before {
  content: "\e0ff";
}

.typcn-sort-numerically-outline:before {
  content: "\e100";
}

.typcn-sort-numerically:before {
  content: "\e101";
}

.typcn-spanner-outline:before {
  content: "\e102";
}

.typcn-spanner:before {
  content: "\e103";
}

.typcn-spiral:before {
  content: "\e104";
}

.typcn-star-full-outline:before {
  content: "\e105";
}

.typcn-star-half-outline:before {
  content: "\e106";
}

.typcn-star-half:before {
  content: "\e107";
}

.typcn-star-outline:before {
  content: "\e108";
}

.typcn-star:before {
  content: "\e109";
}

.typcn-starburst-outline:before {
  content: "\e10a";
}

.typcn-starburst:before {
  content: "\e10b";
}

.typcn-stopwatch:before {
  content: "\e10c";
}

.typcn-support:before {
  content: "\e10d";
}

.typcn-tabs-outline:before {
  content: "\e10e";
}

.typcn-tag:before {
  content: "\e10f";
}

.typcn-tags:before {
  content: "\e110";
}

.typcn-th-large-outline:before {
  content: "\e111";
}

.typcn-th-large:before {
  content: "\e112";
}

.typcn-th-list-outline:before {
  content: "\e113";
}

.typcn-th-list:before {
  content: "\e114";
}

.typcn-th-menu-outline:before {
  content: "\e115";
}

.typcn-th-menu:before {
  content: "\e116";
}

.typcn-th-small-outline:before {
  content: "\e117";
}

.typcn-th-small:before {
  content: "\e118";
}

.typcn-thermometer:before {
  content: "\e119";
}

.typcn-thumbs-down:before {
  content: "\e11a";
}

.typcn-thumbs-ok:before {
  content: "\e11b";
}

.typcn-thumbs-up:before {
  content: "\e11c";
}

.typcn-tick-outline:before {
  content: "\e11d";
}

.typcn-tick:before {
  content: "\e11e";
}

.typcn-ticket:before {
  content: "\e11f";
}

.typcn-time:before {
  content: "\e120";
}

.typcn-times-outline:before {
  content: "\e121";
}

.typcn-times:before {
  content: "\e122";
}

.typcn-trash:before {
  content: "\e123";
}

.typcn-tree:before {
  content: "\e124";
}

.typcn-upload-outline:before {
  content: "\e125";
}

.typcn-upload:before {
  content: "\e126";
}

.typcn-user-add-outline:before {
  content: "\e127";
}

.typcn-user-add:before {
  content: "\e128";
}

.typcn-user-delete-outline:before {
  content: "\e129";
}

.typcn-user-delete:before {
  content: "\e12a";
}

.typcn-user-outline:before {
  content: "\e12b";
}

.typcn-user:before {
  content: "\e12c";
}

.typcn-vendor-android:before {
  content: "\e12d";
}

.typcn-vendor-apple:before {
  content: "\e12e";
}

.typcn-vendor-microsoft:before {
  content: "\e12f";
}

.typcn-video-outline:before {
  content: "\e130";
}

.typcn-video:before {
  content: "\e131";
}

.typcn-volume-down:before {
  content: "\e132";
}

.typcn-volume-mute:before {
  content: "\e133";
}

.typcn-volume-up:before {
  content: "\e134";
}

.typcn-volume:before {
  content: "\e135";
}

.typcn-warning-outline:before {
  content: "\e136";
}

.typcn-warning:before {
  content: "\e137";
}

.typcn-watch:before {
  content: "\e138";
}

.typcn-waves-outline:before {
  content: "\e139";
}

.typcn-waves:before {
  content: "\e13a";
}

.typcn-weather-cloudy:before {
  content: "\e13b";
}

.typcn-weather-downpour:before {
  content: "\e13c";
}

.typcn-weather-night:before {
  content: "\e13d";
}

.typcn-weather-partly-sunny:before {
  content: "\e13e";
}

.typcn-weather-shower:before {
  content: "\e13f";
}

.typcn-weather-snow:before {
  content: "\e140";
}

.typcn-weather-stormy:before {
  content: "\e141";
}

.typcn-weather-sunny:before {
  content: "\e142";
}

.typcn-weather-windy-cloudy:before {
  content: "\e143";
}

.typcn-weather-windy:before {
  content: "\e144";
}

.typcn-wi-fi-outline:before {
  content: "\e145";
}

.typcn-wi-fi:before {
  content: "\e146";
}

.typcn-wine:before {
  content: "\e147";
}

.typcn-world-outline:before {
  content: "\e148";
}

.typcn-world:before {
  content: "\e149";
}

.typcn-zoom-in-outline:before {
  content: "\e14a";
}

.typcn-zoom-in:before {
  content: "\e14b";
}

.typcn-zoom-out-outline:before {
  content: "\e14c";
}

.typcn-zoom-out:before {
  content: "\e14d";
}

.typcn-zoom-outline:before {
  content: "\e14e";
}

.typcn-zoom:before {
  content: "\e14f";
}

body {
  background: url(img/jorge_rossy-bg-2-2000.jpg) no-repeat center center fixed;
  background-size: cover;
}

.box {
  background-color: white;
  width: 20%;
}

.btn {
  color: #333;
  background-color: white;
  padding: 0.7501875469rem 1.333rem;
}

.btn:hover {
  background-color: black;
}

.btn-big {
  font-size: 2.368593037rem;
  padding: 0.7501875469rem;
}

.btn-transparent {
  font-size: 1.776889rem;
  letter-spacing: 4px;
  color: white;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border: white 2px solid;
  font-family: "Alfa Slab One", cursive;
  text-transform: uppercase;
  padding: 1.333rem 1.776889rem;
}

.btn-transparent:hover,
.btn-transparent:focus {
  background-color: black;
}

.menu ul {
  list-style: none;
  line-height: 1.5;
  padding: 0.7501875469rem 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .menu ul {
    text-align: center;
    line-height: 1.8;
  }
}
.menu li {
  margin-left: 1.333rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .menu li {
    display: inline;
    text-align: center;
  }
}
.menu li a {
  margin: 0;
  line-height: 0;
  padding: 0 0.7501875469rem;
}

.menu li a:hover,
.menu li a .current-menu-item {
  background-color: #fff !important;
  padding: 0 0.7501875469rem;
  color: #333;
}

.current-menu-item {
  background-color: #fff !important;
  padding: 0 0.7501875469rem;
  font-weight: bold;
}

.current-menu-item a {
  color: #333 !important;
}

.content {
  background-color: white;
  color: #333;
  margin: 0 auto;
  padding: 2.368593037rem 3.1573345183rem;
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 1.333rem 1.776889rem;
  }
}
.content h2,
.content h3,
.content h4 {
  margin-bottom: 1.776889rem;
  margin-top: 4.2087269129rem;
}

.content .subtitle {
  margin-top: -0.7501875469rem;
  font-size: 1.333em;
  font-style: italic;
  color: gray;
  letter-spacing: 2px;
}

.content a {
  font-weight: 700;
  color: purple;
}

.content a:hover,
.content a:active,
.content a:focus {
  background-color: #333;
  color: white;
}

.subtitle {
  margin-top: -0.7501875469rem;
  font-size: 1.333em;
  font-style: italic;
  color: gray;
  letter-spacing: 2px;
}

.site-header {
  margin-bottom: 1.333rem;
  color: white;
}

@media only screen and (max-width: 800px) {
  .site-header {
    margin-bottom: 2.666rem;
  }
}
.site-header a {
  color: white;
}

.site-header .site-title {
  font-size: 5.6102329749rem;
}

@media only screen and (max-width: 800px) {
  .site-header .site-title {
    font-size: 4.2087269129rem;
  }
}
.event {
  color: #333;
  background-color: white;
  padding: 1.333rem 1.776889rem;
  margin: 0 auto;
  margin-top: 2.368593037rem;
  position: relative;
  max-width: 800px;
}

.event a {
  color: purple;
}

.event a:hover,
.event a:focus {
  text-decoration: underline;
}

.event .typcn {
  font-size: 1.776889rem;
  margin-right: 0.5627813555rem;
}

.event .name {
  margin-bottom: 0;
}

.event .day {
  font-size: 1.776889rem;
}

.event .event_more-info {
  background-color: #333;
  padding: 1px 10px;
  font-size: 2.368593037rem;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
}

.event .event_more-info:hover {
  opacity: 0.9;
}

.event .event_more-info .typcn {
  margin-right: 0;
  font-size: 2.368593037rem;
}

.site-footer {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 2.666rem;
  margin-top: 5.332rem;
  color: white;
}

.site-footer a {
  color: white;
}
.span-paiste{
  float:right; 
  background:black; 
}
@media only screen and (max-width: 800px) {
  .span-paiste {
    float:left; 
    background:black; 
  }
}

.card-h {
  border: white 2px solid;
  margin-bottom: 2.368593037rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .card-h {
    width: 100%;
  }
}
.card-h_head {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card-h_body {
  padding: 0.5627813555rem 1rem;
  background-color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.card-h_body > * {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card-h_body a {
  line-height: 1.2;
}

.card-h_title {
  font-size: 1.776889rem;
}

.card-h .subtitle {
  font-size: 1.333rem;
}

.home-nav {
  margin: 10.664rem 0;
}
.home-nav-news{
  margin: 1rem 0;
}
@media only screen and (max-width:800px) {
  .home-nav-news{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1.333rem 0;
  }
}

@media only screen and (max-width: 800px) {
  .home-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1.333rem 0;
  }
}
@media only screen and (max-width: 800px) {
  .home-nav_item {
    width: 100%;
    margin-bottom: 1.333rem;
  }
}
.home-news {
  margin-top: 2.368593037rem;
}

.page-wrapper {
  background-color: white;
  max-width: 79.98rem;
  color: #333;
  margin: 0 auto;
  padding: 1.333rem 1.776889rem;
}

