.event {
	
	color:$black;
	background-color: white;
	padding: $size1+rem $size2+rem;
	margin:0 auto;
	margin-top:  $size3+rem;
	

	a {
		color:$black;

		&:hover,&:focus {
			text-decoration: underline;
		}
	}
	.typcn {
		font-size: $size2+rem;
		margin-right: $size-1+rem
	}
	.name {
		margin-bottom: 0;
	}
	.day {
		font-size: $size2+rem;
	}
	.month{

	}


}

