.epks-wrapper {

	max-width: 30%;
	float: left;
	background-color: white;
	padding: $size1+rem $size-2+rem; 
	text-align: center;
	color:$black;

	.title {
		color:$black;
		margin-bottom: $size-1+rem;
	}
	.subtitle {
		color:$black;
		margin-bottom: 0;
	}
}