html { 
  background: url(img/jorge_rossy-bg-2-2000.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




// .page-background-img{ //https://www.webpagefx.com/blog/web-design/responsive-background-image/
	
//   height: 1000px;
//   //margin-top: 100vh;

//    /* Location of the image */
//   background-image: url(img/jorge_rossy-bg-2-2000.jpg);
  
//   /* Background image is centered vertically and horizontally at all times */
//   background-position: center center;
  
//   /* Background image doesn't tile */
//   background-repeat: no-repeat;
  
//   /* Background image is fixed in the viewport so that it doesn't move when 
//      the content's height is greater than the image's height */
//   background-attachment: fixed;
  
//   /* This is what makes the background image rescale based
//      on the container's size */
//   background-size: cover;
  
//   /* Set a background color that will be displayed
//      while the background image is loading */
//   background-color: #464646;
    
// }

