.menu { //very dirty code, reference to funtions php class <a> hack

    position: fixed;
    right: $size4+rem;
    
    ul {
        list-style: none;

    }
   
    >.typcn:before {display: none;} //override duplication
    
    li{

        float: left;
        margin-left: $size1+rem;
        
        .typcn {
            color: $white;
            font-size: $size1+rem;
            line-height: 1;
            &:before {
                margin-right: $size-2+rem
            }
        }
        a {
            
            margin: 0;
            padding: 0;
            line-height: 0;
        }
    }
}

.current-menu-item{
    
    background-color: white!important;
    padding: 0 $size-1+rem;
    font-weight: bold;

    a {
        color: $black!important;
    }
    .typcn {
        color: $black;
        font-size: $size2+rem;
    }
}

